resource "aws_ecr_repository" "app" {
  name                 = "{{ app_name }}"
  image_tag_mutability = "MUTABLE"

  image_scanning_configuration {
    scan_on_push = true
  }

  tags = {
    App = "{{ app_name }}"
  }
}

output "ecr_repo_url" {
  value = aws_ecr_repository.app.repository_url
}