terraform {
  required_version = ">= 1.5"
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 5.0"
    }
  }
  backend "s3" {
    bucket = "{{ app_name }}-tfstate"
    key    = "{{ app_name }}/terraform.tfstate"
    region = "{{ aws_region }}"
  }
}

provider "aws" {
  region = var.aws_region
}